name: Bump RC And Publish

on:
  workflow_dispatch:
    secrets:
      GH_EMAIL:
        required: true
      GH_USER:
        required: true
      USER_GITHUB_TOKEN:
        required: true

permissions:
  id-token: write # REQUIRED for npm Trusted Publishing
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0 # full history for yarn version

      - name: Setup Node with trusted publishing
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org

      - run: corepack enable
      - run: corepack prepare yarn@4.10.3 --activate
      - run: yarn set version 4.10.3
      - run: NPQ_PKG_MGR=yarn npx npq install
      - run: yarn build
      - run: yarn test

      # ---- PUBLISH WITH TRUSTED PUBLISHING ----

      - name: npm publish @wix/interact (trusted)
        run: |
          cd packages/interact
          npm publish --tag rc --provenance --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.INTERACT_NPM_TOKEN }}
